@use "../../foundation/variables" as v;

.c-card{
    padding: 32px;
    border: 1px solid v.$color-gray-300;
    border-radius: 8px;
    background-color: v.$color-white;

    @media (max-width: 768px){
        padding: 24px;
    }
}
