@use "../../foundation/variables" as v;
@use "../../foundation/mixin" as m;

.c-card{
    padding: 24px;
    border: 1px solid v.$color-gray-300;
    border-radius: 8px;
    background-color: v.$color-white;

    @include m.mq-up{
        padding: 32px;
    }
}