.c-section-title{
    &__en{
        margin: 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    @media (max-width: 768px){
        &__en{
            font-size: 30px;
        }
    }
}
