@use "../../foundation/variables" as v;
@use "../../foundation/mixin" as m;

.p-author{
    &__inner{
        display: grid;
        gap: 24px;
        padding: 24px 20px;
        border: 1px solid v.$color-gray-300;
        box-sizing: border-box;
        background-color: v.$color-white;
    }

    &__title{
        margin: 0 0 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 8px 12px;
        line-height: 1;
        letter-spacing: 0.05em;
    }

    &__title-ja{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1;
    }

    &__title-en{
        color: v.$color-red;
        font-size: 10px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.04em;
    }

    &__list{
        margin: 0;
        display: grid;
        gap: 16px;
    }

    &__term{
        margin: 0;
        font-weight: 700;
        line-height: 1.45;
        letter-spacing: 0.04em;

        &--name{
            font-size: 20px;
        }

        &--publisher{
            font-size: 20px;
        }
    }

    &__reading{
        display: block;
        margin-top: 4px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    &__description{
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.95;
        letter-spacing: 0.02em;
    }

    &__twitter-link,
    &__publisher-link{
        color: v.$color-red;
        text-decoration: none;
    }

    @include m.mq-up{
        &__inner{
            gap: 0;
            padding: 44px 48px 40px;
        }

        &__title{
            margin-bottom: 56px;
            gap: 10px 18px;
        }

        &__title-ja{
            font-size: 24px;
        }

        &__title-en{
            font-size: 10px;
        }

        &__list{
            grid-template-columns: 200px minmax(0, 1fr);
            column-gap: 40px;
            row-gap: 24px;
        }

        &__term{
            font-size: 38px;
            line-height: 1.35;
        }

        &__term--name,
        &__term--publisher{
            font-size: 20px;
        }

        &__reading{
            margin-top: 5px;
            font-size: 12px;
        }

        &__description{
            font-size: 14px;
            line-height: 1.9;
        }

        &__term--publisher,
        &__description--publisher{
            align-self: center;
        }
    }
}
